---
http_interactions:
- request:
    method: get
    uri: http://static-ca2.ororo.tv:8082/manage/server_status?hash=MK4eLWVhz/3bTQbrD5bCdg==&salt=501120
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Connections": 148, "OutRate": 3000000000, "SysInfo": {"ap":12,"scl":0.035,"tpms":50614956032,"fpms":46256574464,"tsss":535818240,"fsss":335699968}}'
  recorded_at: Tue, 15 Nov 2016 15:32:55 GMT
- request:
    method: get
    uri: http://static-ru.ororo.tv:8082/manage/server_status?hash=MK4eLWVhz/3bTQbrD5bCdg==&salt=501120
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Connections": 665, "OutRate": 3000000000, "SysInfo": {"ap":12,"scl":0.11,"tpms":135094128640,"fpms":121600028672,"tsss":28998365184,"fsss":28063842304}}'
  recorded_at: Tue, 15 Nov 2016 15:32:55 GMT
- request:
    method: get
    uri: http://static-ua2.ororo.tv:8082/manage/server_status?hash=MK4eLWVhz/3bTQbrD5bCdg==&salt=501120
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Connections": 120, "OutRate": 3000000000, "SysInfo": {"ap":4,"scl":0.12,"tpms":16763469824,"fpms":13644357632,"tsss":15999164416,"fsss":15968927744}}'
  recorded_at: Tue, 15 Nov 2016 15:32:56 GMT
- request:
    method: get
    uri: http://static-de.ororo.tv:8082/manage/server_status?hash=MK4eLWVhz/3bTQbrD5bCdg==&salt=501120
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Connections": 64, "OutRate": 3000000000, "SysInfo": {"ap":4,"scl":0.21,"tpms":16828022784,"fpms":14140731392,"tsss":4094685184,"fsss":3559231488}}'
  recorded_at: Tue, 15 Nov 2016 15:32:56 GMT
- request:
    method: get
    uri: http://static-uk.ororo.tv:8082/manage/server_status?hash=MK4eLWVhz/3bTQbrD5bCdg==&salt=501120
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Connections": 155, "OutRate": 3000000000, "SysInfo": {"ap":16,"scl":0.64,"tpms":33614807040,"fpms":26620973056,"tsss":16000217088,"fsss":15361130496}}'
  recorded_at: Tue, 15 Nov 2016 15:32:57 GMT
- request:
    method: get
    uri: http://static-uk2.ororo.tv:8082/manage/server_status?hash=MK4eLWVhz/3bTQbrD5bCdg==&salt=501120
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Connections": 114, "OutRate": 3000000000, "SysInfo": {"ap":16,"scl":0.61,"tpms":33614807040,"fpms":26413846528,"tsss":16000217088,"fsss":15135895552}}'
  recorded_at: Tue, 15 Nov 2016 15:32:57 GMT
- request:
    method: get
    uri: http://static-rbx.ororo.tv:8082/manage/server_status?hash=MK4eLWVhz/3bTQbrD5bCdg==&salt=501120
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Connections": 493, "OutRate": 3000000000, "SysInfo": {"ap":12,"scl":0.084,"tpms":50614116352,"fpms":41815994368,"tsss":0,"fsss":0}}'
  recorded_at: Tue, 15 Nov 2016 15:32:58 GMT
- request:
    method: get
    uri: http://static-rbx2.ororo.tv:8082/manage/server_status?hash=MK4eLWVhz/3bTQbrD5bCdg==&salt=501120
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Connections": 508, "OutRate": 3000000000, "SysInfo": {"ap":12,"scl":0.1,"tpms":50614112256,"fpms":40847421440,"tsss":0,"fsss":0}}'
  recorded_at: Tue, 15 Nov 2016 15:32:58 GMT
- request:
    method: get
    uri: http://static-fr.ororo.tv:8082/manage/server_status?hash=MK4eLWVhz/3bTQbrD5bCdg==&salt=501120
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Connections": 103, "OutRate": 3000000000, "SysInfo": {"ap":8,"scl":0.028,"tpms":67529732096,"fpms":62489448448,"tsss":0,"fsss":0}}'
  recorded_at: Tue, 15 Nov 2016 15:32:59 GMT
recorded_with: VCR 3.0.0
