---
http_interactions:
- request:
    method: get
    uri: http://static-rbx.ororo.tv:8082/manage/server_status?hash=MK4eLWVhz/3bTQbrD5bCdg==&salt=501120
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Connections": 444, "OutRate": 2900000000, "SysInfo": {"ap":12,"scl":0.073,"tpms":50614116352,"fpms":42170380288,"tsss":0,"fsss":0}}'
  recorded_at: Mon, 14 Nov 2016 13:20:00 GMT
- request:
    method: get
    uri: http://static-de.ororo.tv:8082/manage/server_status?hash=MK4eLWVhz/3bTQbrD5bCdg==&salt=501120
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Connections": 45, "OutRate": 2900000000, "SysInfo": {"ap":4,"scl":0.54,"tpms":16828022784,"fpms":14685007872,"tsss":4094685184,"fsss":3909451776}}'
  recorded_at: Mon, 14 Nov 2016 13:20:00 GMT
- request:
    method: get
    uri: http://static-uk.ororo.tv:8082/manage/server_status?hash=MK4eLWVhz/3bTQbrD5bCdg==&salt=501120
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Connections": 144, "OutRate": 2900000000, "SysInfo": {"ap":16,"scl":0.27,"tpms":33614807040,"fpms":27301101568,"tsss":16000217088,"fsss":15297167360}}'
  recorded_at: Mon, 14 Nov 2016 13:20:00 GMT
- request:
    method: get
    uri: http://static-uk2.ororo.tv:8082/manage/server_status?hash=MK4eLWVhz/3bTQbrD5bCdg==&salt=501120
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Connections": 135, "OutRate": 2900000000, "SysInfo": {"ap":16,"scl":0.46,"tpms":33614807040,"fpms":28077858816,"tsss":16000217088,"fsss":15387619328}}'
  recorded_at: Mon, 14 Nov 2016 13:20:00 GMT
- request:
    method: get
    uri: http://static-fr.ororo.tv:8082/manage/server_status?hash=MK4eLWVhz/3bTQbrD5bCdg==&salt=501120
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Connections": 92, "OutRate": 2900000000, "SysInfo": {"ap":8,"scl":0.044,"tpms":67529732096,"fpms":62438166528,"tsss":0,"fsss":0}}'
  recorded_at: Mon, 14 Nov 2016 13:20:00 GMT
- request:
    method: get
    uri: http://static-ca2.ororo.tv:8082/manage/server_status?hash=MK4eLWVhz/3bTQbrD5bCdg==&salt=501120
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Connections": 106, "OutRate": 2900000000, "SysInfo": {"ap":12,"scl":0.041,"tpms":50614956032,"fpms":45252567040,"tsss":535818240,"fsss":379969536}}'
  recorded_at: Mon, 14 Nov 2016 13:20:00 GMT
- request:
    method: get
    uri: http://static-ru.ororo.tv:8082/manage/server_status?hash=MK4eLWVhz/3bTQbrD5bCdg==&salt=501120
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Connections": 673, "OutRate": 2900000000, "SysInfo": {"ap":12,"scl":0.12,"tpms":135094128640,"fpms":121655443456,"tsss":28998365184,"fsss":28189986816}}'
  recorded_at: Mon, 14 Nov 2016 13:20:00 GMT
- request:
    method: get
    uri: http://static-rbx2.ororo.tv:8082/manage/server_status?hash=MK4eLWVhz/3bTQbrD5bCdg==&salt=501120
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Connections": 408, "OutRate": 2900000000, "SysInfo": {"ap":12,"scl":0.068,"tpms":50614112256,"fpms":42779979776,"tsss":0,"fsss":0}}'
  recorded_at: Mon, 14 Nov 2016 13:20:00 GMT
- request:
    method: get
    uri: http://static-ua2.ororo.tv:8082/manage/server_status?hash=MK4eLWVhz/3bTQbrD5bCdg==&salt=501120
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Connections": 119, "OutRate": 2900000000, "SysInfo": {"ap":4,"scl":0.18,"tpms":16763469824,"fpms":13369360384,"tsss":15999164416,"fsss":15972823040}}'
  recorded_at: Mon, 14 Nov 2016 13:20:00 GMT
[...]
- request:
    method: get
    uri: http://static-de.ororo.tv:8082/manage/server_status?hash=MK4eLWVhz/3bTQbrD5bCdg==&salt=501120
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Connections": 43, "OutRate": 87331976, "SysInfo": {"ap":4,"scl":0.059,"tpms":16828022784,"fpms":14713761792,"tsss":4094685184,"fsss":3909423104}}'
  recorded_at: Mon, 14 Nov 2016 13:27:29 GMT
recorded_with: VCR 3.0.0
