---
http_interactions:
- request:
    method: get
    uri: http://static-ca2.ororo.tv:8082/manage/server_status?hash=MK4eLWVhz/3bTQbrD5bCdg==&salt=501120
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Connections": 156, "OutRate": 230109840, "SysInfo": {"ap":12,"scl":0.041,"tpms":50614956032,"fpms":46264070144,"tsss":535818240,"fsss":335699968}}'
  recorded_at: Tue, 15 Nov 2016 15:34:13 GMT
- request:
    method: get
    uri: http://static-ru.ororo.tv:8082/manage/server_status?hash=MK4eLWVhz/3bTQbrD5bCdg==&salt=501120
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Connections": 691, "OutRate": 3000000000, "SysInfo": {"ap":12,"scl":0.085,"tpms":135094128640,"fpms":121545764864,"tsss":28998365184,"fsss":28060622848}}'
  recorded_at: Tue, 15 Nov 2016 15:34:13 GMT
- request:
    method: get
    uri: http://static-ua2.ororo.tv:8082/manage/server_status?hash=MK4eLWVhz/3bTQbrD5bCdg==&salt=501120
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Connections": 118, "OutRate": 223920568, "SysInfo": {"ap":4,"scl":0.12,"tpms":16763469824,"fpms":13642559488,"tsss":15999164416,"fsss":15968927744}}'
  recorded_at: Tue, 15 Nov 2016 15:34:13 GMT
- request:
    method: get
    uri: http://static-de.ororo.tv:8082/manage/server_status?hash=MK4eLWVhz/3bTQbrD5bCdg==&salt=501120
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Connections": 62, "OutRate": 106033416, "SysInfo": {"ap":4,"scl":0.23,"tpms":16828022784,"fpms":14127493120,"tsss":4094685184,"fsss":3557154816}}'
  recorded_at: Tue, 15 Nov 2016 15:34:13 GMT
- request:
    method: get
    uri: http://static-uk.ororo.tv:8082/manage/server_status?hash=MK4eLWVhz/3bTQbrD5bCdg==&salt=501120
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Connections": 149, "OutRate": 261432016, "SysInfo": {"ap":16,"scl":0.46,"tpms":33614807040,"fpms":26808102912,"tsss":16000217088,"fsss":15356297216}}'
  recorded_at: Tue, 15 Nov 2016 15:34:13 GMT
- request:
    method: get
    uri: http://static-uk2.ororo.tv:8082/manage/server_status?hash=MK4eLWVhz/3bTQbrD5bCdg==&salt=501120
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Connections": 115, "OutRate": 196030072, "SysInfo": {"ap":16,"scl":0.65,"tpms":33614807040,"fpms":26408689664,"tsss":16000217088,"fsss":15135895552}}'
  recorded_at: Tue, 15 Nov 2016 15:34:13 GMT
- request:
    method: get
    uri: http://static-rbx.ororo.tv:8082/manage/server_status?hash=MK4eLWVhz/3bTQbrD5bCdg==&salt=501120
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Connections": 479, "OutRate": 869882528, "SysInfo": {"ap":12,"scl":0.08,"tpms":50614116352,"fpms":41844592640,"tsss":0,"fsss":0}}'
  recorded_at: Tue, 15 Nov 2016 15:34:14 GMT
- request:
    method: get
    uri: http://static-rbx2.ororo.tv:8082/manage/server_status?hash=MK4eLWVhz/3bTQbrD5bCdg==&salt=501120
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Connections": 492, "OutRate": 892778312, "SysInfo": {"ap":12,"scl":0.1,"tpms":50614112256,"fpms":40924487680,"tsss":0,"fsss":0}}'
  recorded_at: Tue, 15 Nov 2016 15:34:14 GMT
- request:
    method: get
    uri: http://static-fr.ororo.tv:8082/manage/server_status?hash=MK4eLWVhz/3bTQbrD5bCdg==&salt=501120
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Connections": 103, "OutRate": 218041832, "SysInfo": {"ap":8,"scl":0.043,"tpms":67529732096,"fpms":62523981824,"tsss":0,"fsss":0}}'
  recorded_at: Tue, 15 Nov 2016 15:34:14 GMT
recorded_with: VCR 3.0.0
