---
http_interactions:
- request:
    method: get
    uri: http://static-ru.ororo.tv:8082/manage/server_status?hash=MK4eLWVhz/3bTQbrD5bCdg==&salt=501120
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Connections": 696, "OutRate": 2800000000, "SysInfo": {"ap":12,"scl":0.093,"tpms":135094128640,"fpms":121401032704,"tsss":28998365184,"fsss":28148301824}}'
  recorded_at: Mon, 14 Nov 2016 13:01:23 GMT
- request:
    method: get
    uri: http://static-rbx.ororo.tv:8082/manage/server_status?hash=MK4eLWVhz/3bTQbrD5bCdg==&salt=501120
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Connections": 366, "OutRate": 653942304, "SysInfo": {"ap":12,"scl":0.05,"tpms":50614116352,"fpms":42038456320,"tsss":0,"fsss":0}}'
  recorded_at: Mon, 14 Nov 2016 13:01:23 GMT
- request:
    method: get
    uri: http://static-de.ororo.tv:8082/manage/server_status?hash=MK4eLWVhz/3bTQbrD5bCdg==&salt=501120
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Connections": 43, "OutRate": 78431440, "SysInfo": {"ap":4,"scl":0.059,"tpms":16828022784,"fpms":14710054912,"tsss":4094685184,"fsss":3909529600}}'
  recorded_at: Mon, 14 Nov 2016 13:01:23 GMT
- request:
    method: get
    uri: http://static-uk.ororo.tv:8082/manage/server_status?hash=MK4eLWVhz/3bTQbrD5bCdg==&salt=501120
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Connections": 135, "OutRate": 246894672, "SysInfo": {"ap":16,"scl":0.63,"tpms":33614807040,"fpms":26994130944,"tsss":16000217088,"fsss":15286554624}}'
  recorded_at: Mon, 14 Nov 2016 13:01:23 GMT
- request:
    method: get
    uri: http://static-rbx2.ororo.tv:8082/manage/server_status?hash=MK4eLWVhz/3bTQbrD5bCdg==&salt=501120
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Connections": 370, "OutRate": 755047720, "SysInfo": {"ap":12,"scl":0.066,"tpms":50614112256,"fpms":43091427328,"tsss":0,"fsss":0}}'
  recorded_at: Mon, 14 Nov 2016 13:01:23 GMT
- request:
    method: get
    uri: http://static-uk2.ororo.tv:8082/manage/server_status?hash=MK4eLWVhz/3bTQbrD5bCdg==&salt=501120
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Connections": 136, "OutRate": 203432832, "SysInfo": {"ap":16,"scl":0.61,"tpms":33614807040,"fpms":27999092736,"tsss":16000217088,"fsss":15382257664}}'
  recorded_at: Mon, 14 Nov 2016 13:01:23 GMT
- request:
    method: get
    uri: http://static-fr.ororo.tv:8082/manage/server_status?hash=MK4eLWVhz/3bTQbrD5bCdg==&salt=501120
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Connections": 96, "OutRate": 173232456, "SysInfo": {"ap":8,"scl":0.048,"tpms":67529732096,"fpms":62422425600,"tsss":0,"fsss":0}}'
  recorded_at: Mon, 14 Nov 2016 13:01:23 GMT
- request:
    method: get
    uri: http://static-ua2.ororo.tv:8082/manage/server_status?hash=MK4eLWVhz/3bTQbrD5bCdg==&salt=501120
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Connections": 108, "OutRate": 163735096, "SysInfo": {"ap":4,"scl":0.085,"tpms":16763469824,"fpms":13377122304,"tsss":15999164416,"fsss":15974957056}}'
  recorded_at: Mon, 14 Nov 2016 13:01:23 GMT
- request:
    method: get
    uri: http://static-ca2.ororo.tv:8082/manage/server_status?hash=MK4eLWVhz/3bTQbrD5bCdg==&salt=501120
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Connections": 96, "OutRate": 147488776, "SysInfo": {"ap":12,"scl":0.013,"tpms":50614956032,"fpms":45000675328,"tsss":535818240,"fsss":378359808}}'
  recorded_at: Mon, 14 Nov 2016 13:01:23 GMT
[...]
- request:
    method: get
    uri: http://static-fr.ororo.tv:8082/manage/server_status?hash=MK4eLWVhz/3bTQbrD5bCdg==&salt=501120
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Connections": 97, "OutRate": 165318520, "SysInfo": {"ap":8,"scl":0.034,"tpms":67529732096,"fpms":62438952960,"tsss":0,"fsss":0}}'
  recorded_at: Mon, 14 Nov 2016 13:12:44 GMT
recorded_with: VCR 3.0.0
