---
http_interactions:
- request:
    method: get
    uri: http://static-de.ororo.tv:8082/manage/server_status?hash=MK4eLWVhz/3bTQbrD5bCdg==&salt=501120
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Connections": 45, "OutRate": 950000000, "SysInfo": {"ap":4,"scl":0.2,"tpms":16828022784,"fpms":14710140928,"tsss":4094685184,"fsss":3909308416}}'
  recorded_at: Mon, 14 Nov 2016 13:04:05 GMT
- request:
    method: get
    uri: http://static-uk2.ororo.tv:8082/manage/server_status?hash=MK4eLWVhz/3bTQbrD5bCdg==&salt=501120
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Connections": 134, "OutRate": 950000000, "SysInfo": {"ap":16,"scl":0.51,"tpms":33614807040,"fpms":27973120000,"tsss":16000217088,"fsss":15382155264}}'
  recorded_at: Mon, 14 Nov 2016 13:04:05 GMT
- request:
    method: get
    uri: http://static-uk.ororo.tv:8082/manage/server_status?hash=MK4eLWVhz/3bTQbrD5bCdg==&salt=501120
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Connections": 136, "OutRate": 950000000, "SysInfo": {"ap":16,"scl":0.64,"tpms":33614807040,"fpms":26991452160,"tsss":16000217088,"fsss":15286554624}}'
  recorded_at: Mon, 14 Nov 2016 13:04:05 GMT
- request:
    method: get
    uri: http://static-rbx2.ororo.tv:8082/manage/server_status?hash=MK4eLWVhz/3bTQbrD5bCdg==&salt=501120
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Connections": 374, "OutRate": 2400000000, "SysInfo": {"ap":12,"scl":0.073,"tpms":50614112256,"fpms":43042828288,"tsss":0,"fsss":0}}'
  recorded_at: Mon, 14 Nov 2016 13:04:05 GMT
- request:
    method: get
    uri: http://static-fr.ororo.tv:8082/manage/server_status?hash=MK4eLWVhz/3bTQbrD5bCdg==&salt=501120
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Connections": 101, "OutRate": 950000000, "SysInfo": {"ap":8,"scl":0.067,"tpms":67529732096,"fpms":62426423296,"tsss":0,"fsss":0}}'
  recorded_at: Mon, 14 Nov 2016 13:04:05 GMT
- request:
    method: get
    uri: http://static-rbx.ororo.tv:8082/manage/server_status?hash=MK4eLWVhz/3bTQbrD5bCdg==&salt=501120
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Connections": 373, "OutRate": 2400000000, "SysInfo": {"ap":12,"scl":0.051,"tpms":50614116352,"fpms":42025414656,"tsss":0,"fsss":0}}'
  recorded_at: Mon, 14 Nov 2016 13:04:05 GMT
- request:
    method: get
    uri: http://static-ua2.ororo.tv:8082/manage/server_status?hash=MK4eLWVhz/3bTQbrD5bCdg==&salt=501120
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Connections": 109, "OutRate": 185045784, "SysInfo": {"ap":4,"scl":0.13,"tpms":16763469824,"fpms":13369372672,"tsss":15999164416,"fsss":15974957056}}'
  recorded_at: Mon, 14 Nov 2016 13:04:05 GMT
- request:
    method: get
    uri: http://static-ca2.ororo.tv:8082/manage/server_status?hash=MK4eLWVhz/3bTQbrD5bCdg==&salt=501120
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Connections": 94, "OutRate": 155295512, "SysInfo": {"ap":12,"scl":0.026,"tpms":50614956032,"fpms":45000671232,"tsss":535818240,"fsss":378327040}}'
  recorded_at: Mon, 14 Nov 2016 13:04:06 GMT
[...]
- request:
    method: get
    uri: http://static-rbx.ororo.tv:8082/manage/server_status?hash=MK4eLWVhz/3bTQbrD5bCdg==&salt=501120
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Connections": 396, "OutRate": 2400000000, "SysInfo": {"ap":12,"scl":0.068,"tpms":50614116352,"fpms":42167705600,"tsss":0,"fsss":0}}'
  recorded_at: Mon, 14 Nov 2016 13:11:30 GMT
recorded_with: VCR 3.0.0
