---
http_interactions:
- request:
    method: get
    uri: http://static-de.ororo.tv:8082/manage/server_status?hash=MK4eLWVhz/3bTQbrD5bCdg==&salt=501120
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Connections": 42, "OutRate": 82122768, "SysInfo": {"ap":4,"scl":0.04,"tpms":16828022784,"fpms":14714851328,"tsss":4094685184,"fsss":3909529600}}'
  recorded_at: Mon, 14 Nov 2016 13:00:57 GMT
- request:
    method: get
    uri: http://static-rbx2.ororo.tv:8082/manage/server_status?hash=MK4eLWVhz/3bTQbrD5bCdg==&salt=501120
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Connections": 371, "OutRate": 763232800, "SysInfo": {"ap":12,"scl":0.064,"tpms":50614112256,"fpms":43042320384,"tsss":0,"fsss":0}}'
  recorded_at: Mon, 14 Nov 2016 13:00:57 GMT
- request:
    method: get
    uri: http://static-uk2.ororo.tv:8082/manage/server_status?hash=MK4eLWVhz/3bTQbrD5bCdg==&salt=501120
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Connections": 130, "OutRate": 203432832, "SysInfo": {"ap":16,"scl":0.67,"tpms":33614807040,"fpms":27999297536,"tsss":16000217088,"fsss":15382290432}}'
  recorded_at: Mon, 14 Nov 2016 13:00:57 GMT
- request:
    method: get
    uri: http://static-rbx.ororo.tv:8082/manage/server_status?hash=MK4eLWVhz/3bTQbrD5bCdg==&salt=501120
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Connections": 375, "OutRate": 653942304, "SysInfo": {"ap":12,"scl":0.047,"tpms":50614116352,"fpms":42057699328,"tsss":0,"fsss":0}}'
  recorded_at: Mon, 14 Nov 2016 13:00:57 GMT
- request:
    method: get
    uri: http://static-uk.ororo.tv:8082/manage/server_status?hash=MK4eLWVhz/3bTQbrD5bCdg==&salt=501120
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Connections": 136, "OutRate": 234708896, "SysInfo": {"ap":16,"scl":0.65,"tpms":33614807040,"fpms":26984456192,"tsss":16000217088,"fsss":15286554624}}'
  recorded_at: Mon, 14 Nov 2016 13:00:57 GMT
- request:
    method: get
    uri: http://static-fr.ororo.tv:8082/manage/server_status?hash=MK4eLWVhz/3bTQbrD5bCdg==&salt=501120
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Connections": 94, "OutRate": 167659392, "SysInfo": {"ap":8,"scl":0.082,"tpms":67529732096,"fpms":62422212608,"tsss":0,"fsss":0}}'
  recorded_at: Mon, 14 Nov 2016 13:00:57 GMT
- request:
    method: get
    uri: http://static-ua2.ororo.tv:8082/manage/server_status?hash=MK4eLWVhz/3bTQbrD5bCdg==&salt=501120
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Connections": 108, "OutRate": 166169064, "SysInfo": {"ap":4,"scl":0.088,"tpms":16763469824,"fpms":13377323008,"tsss":15999164416,"fsss":15974957056}}'
  recorded_at: Mon, 14 Nov 2016 13:00:57 GMT
- request:
    method: get
    uri: http://static-ca2.ororo.tv:8082/manage/server_status?hash=MK4eLWVhz/3bTQbrD5bCdg==&salt=501120
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Connections": 89, "OutRate": 150419216, "SysInfo": {"ap":12,"scl":0.013,"tpms":50614956032,"fpms":44988764160,"tsss":535818240,"fsss":378359808}}'
  recorded_at: Mon, 14 Nov 2016 13:00:57 GMT
[...]
- request:
    method: get
    uri: http://static-ca2.ororo.tv:8082/manage/server_status?hash=MK4eLWVhz/3bTQbrD5bCdg==&salt=501120
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Connections": 113, "OutRate": 175449216, "SysInfo": {"ap":12,"scl":0.027,"tpms":50614956032,"fpms":45337739264,"tsss":535818240,"fsss":377876480}}'
  recorded_at: Mon, 14 Nov 2016 13:30:03 GMT
recorded_with: VCR 3.0.0
