---
http_interactions:
- request:
    method: get
    uri: http://static-ca2.ororo.tv:8082/manage/server_status?hash=MK4eLWVhz/3bTQbrD5bCdg==&salt=501120
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Connections": 149, "OutRate": 246024552, "SysInfo": {"ap":12,"scl":0.031,"tpms":50614956032,"fpms":46244868096,"tsss":535818240,"fsss":333602816}}'
  recorded_at: Tue, 15 Nov 2016 15:36:57 GMT
- request:
    method: get
    uri: http://static-ua2.ororo.tv:8082/manage/server_status?hash=MK4eLWVhz/3bTQbrD5bCdg==&salt=501120
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Connections": 132, "OutRate": 250717352, "SysInfo": {"ap":4,"scl":0.14,"tpms":16763469824,"fpms":13640048640,"tsss":15999164416,"fsss":15968927744}}'
  recorded_at: Tue, 15 Nov 2016 15:36:58 GMT
- request:
    method: get
    uri: http://static-de.ororo.tv:8082/manage/server_status?hash=MK4eLWVhz/3bTQbrD5bCdg==&salt=501120
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Connections": 69, "OutRate": 3000000000, "SysInfo": {"ap":4,"scl":0.19,"tpms":16828022784,"fpms":14137212928,"tsss":4094685184,"fsss":3555971072}}'
  recorded_at: Tue, 15 Nov 2016 15:36:58 GMT
- request:
    method: get
    uri: http://static-uk.ororo.tv:8082/manage/server_status?hash=MK4eLWVhz/3bTQbrD5bCdg==&salt=501120
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Connections": 148, "OutRate": 3000000000, "SysInfo": {"ap":16,"scl":0.65,"tpms":33614807040,"fpms":26733121536,"tsss":16000217088,"fsss":15354200064}}'
  recorded_at: Tue, 15 Nov 2016 15:36:58 GMT
- request:
    method: get
    uri: http://static-uk2.ororo.tv:8082/manage/server_status?hash=MK4eLWVhz/3bTQbrD5bCdg==&salt=501120
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Connections": 125, "OutRate": 3000000000, "SysInfo": {"ap":16,"scl":0.46,"tpms":33614807040,"fpms":26506940416,"tsss":16000217088,"fsss":15135887360}}'
  recorded_at: Tue, 15 Nov 2016 15:36:58 GMT
- request:
    method: get
    uri: http://static-rbx.ororo.tv:8082/manage/server_status?hash=MK4eLWVhz/3bTQbrD5bCdg==&salt=501120
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Connections": 467, "OutRate": 3000000000, "SysInfo": {"ap":12,"scl":0.07,"tpms":50614116352,"fpms":41850019840,"tsss":0,"fsss":0}}'
  recorded_at: Tue, 15 Nov 2016 15:36:58 GMT
- request:
    method: get
    uri: http://static-rbx2.ororo.tv:8082/manage/server_status?hash=MK4eLWVhz/3bTQbrD5bCdg==&salt=501120
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Connections": 472, "OutRate": 3000000000, "SysInfo": {"ap":12,"scl":0.089,"tpms":50614112256,"fpms":41056235520,"tsss":0,"fsss":0}}'
  recorded_at: Tue, 15 Nov 2016 15:36:59 GMT
- request:
    method: get
    uri: http://static-fr.ororo.tv:8082/manage/server_status?hash=MK4eLWVhz/3bTQbrD5bCdg==&salt=501120
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Connections": 100, "OutRate": 3000000000, "SysInfo": {"ap":8,"scl":0.21,"tpms":67529732096,"fpms":62560030720,"tsss":0,"fsss":0}}'
  recorded_at: Tue, 15 Nov 2016 15:36:59 GMT
recorded_with: VCR 3.0.0
