---
http_interactions:
- request:
    method: get
    uri: http://static-ca2.ororo.tv:8082/manage/server_status?hash=MK4eLWVhz/3bTQbrD5bCdg==&salt=501120
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Connections": 156, "OutRate": 251101432, "SysInfo": {"ap":12,"scl":0.024,"tpms":50614956032,"fpms":46248284160,"tsss":535818240,"fsss":333606912}}'
  recorded_at: Tue, 15 Nov 2016 15:37:54 GMT
- request:
    method: get
    uri: http://static-ru.ororo.tv:8082/manage/server_status?hash=MK4eLWVhz/3bTQbrD5bCdg==&salt=501120
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Connections": 756, "OutRate": 1286097888, "SysInfo": {"ap":12,"scl":0.098,"tpms":135094128640,"fpms":120880291840,"tsss":28998365184,"fsss":28063965184}}'
  recorded_at: Tue, 15 Nov 2016 15:37:54 GMT
- request:
    method: get
    uri: http://static-ua2.ororo.tv:8082/manage/server_status?hash=MK4eLWVhz/3bTQbrD5bCdg==&salt=501120
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Connections": 127, "OutRate": 242889296, "SysInfo": {"ap":4,"scl":0.13,"tpms":16763469824,"fpms":13639933952,"tsss":15999164416,"fsss":15968927744}}'
  recorded_at: Tue, 15 Nov 2016 15:37:55 GMT
- request:
    method: get
    uri: http://static-de.ororo.tv:8082/manage/server_status?hash=MK4eLWVhz/3bTQbrD5bCdg==&salt=501120
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Connections": 62, "OutRate": 115273648, "SysInfo": {"ap":4,"scl":0.07,"tpms":16828022784,"fpms":14146973696,"tsss":4094685184,"fsss":3555971072}}'
  recorded_at: Tue, 15 Nov 2016 15:37:55 GMT
- request:
    method: get
    uri: http://static-uk.ororo.tv:8082/manage/server_status?hash=MK4eLWVhz/3bTQbrD5bCdg==&salt=501120
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Connections": 147, "OutRate": 257478264, "SysInfo": {"ap":16,"scl":0.61,"tpms":33614807040,"fpms":26722062336,"tsss":16000217088,"fsss":15352102912}}'
  recorded_at: Tue, 15 Nov 2016 15:37:55 GMT
- request:
    method: get
    uri: http://static-uk2.ororo.tv:8082/manage/server_status?hash=MK4eLWVhz/3bTQbrD5bCdg==&salt=501120
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Connections": 124, "OutRate": 221242456, "SysInfo": {"ap":16,"scl":0.61,"tpms":33614807040,"fpms":26369130496,"tsss":16000217088,"fsss":15135887360}}'
  recorded_at: Tue, 15 Nov 2016 15:37:55 GMT
- request:
    method: get
    uri: http://static-rbx.ororo.tv:8082/manage/server_status?hash=MK4eLWVhz/3bTQbrD5bCdg==&salt=501120
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Connections": 502, "OutRate": 865812672, "SysInfo": {"ap":12,"scl":0.072,"tpms":50614116352,"fpms":41858138112,"tsss":0,"fsss":0}}'
  recorded_at: Tue, 15 Nov 2016 15:37:55 GMT
- request:
    method: get
    uri: http://static-rbx2.ororo.tv:8082/manage/server_status?hash=MK4eLWVhz/3bTQbrD5bCdg==&salt=501120
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Connections": 473, "OutRate": 889212712, "SysInfo": {"ap":12,"scl":0.089,"tpms":50614112256,"fpms":41039216640,"tsss":0,"fsss":0}}'
  recorded_at: Tue, 15 Nov 2016 15:37:55 GMT
- request:
    method: get
    uri: http://static-fr.ororo.tv:8082/manage/server_status?hash=MK4eLWVhz/3bTQbrD5bCdg==&salt=501120
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Connections": 104, "OutRate": 232645264, "SysInfo": {"ap":8,"scl":0.097,"tpms":67529732096,"fpms":62560079872,"tsss":0,"fsss":0}}'
  recorded_at: Tue, 15 Nov 2016 15:37:55 GMT
recorded_with: VCR 3.0.0
